/* Styles for the information section that displays the rules and instructions */
.info-section
{
    height: 500px;
    width: 350px;
    align-items: center;
    margin-left: 24px;
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    padding-left: 15px;    
    color: white;
    background-color: none;   
}